# Flutter / Dart build & cache
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
atom/
.history/
*.swp

# macOS
.DS_Store

# Logs and temp files
*.log
*.pyc
*.class

# Android Studio / IntelliJ
/android/.cxx/
/android/**/build/
/android/**/captures/
/android/app/.cxx/
/android/app/debug/
/android/app/profile/
/android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Flutter.xcarchive
ios/Runner.xcworkspace/
ios/Flutter/FlutterPluginRegistrant.*
**/ios/Flutter/.last_build_id
ios/Podfile.lock

# CocoaPods
ios/Podfile.lock

# Firebase config (no subir estos archivos)
google-services.json
**/google-services.json
GoogleService-Info.plist
**/GoogleService-Info.plist

# Environment files
.env*

# Miscellaneous
.build/
.buildlog/
.svn/
.swiftpm/
migrate_working_dir/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json
